<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">
<!--     <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' http://* 'unsafe-inline'; script-src 'self' http://* 'unsafe-inline' 'unsafe-eval'" />
 -->
<!--     <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline' https://checkout.stripe.com https://fonts.googleapis.com; script-src * blob 'self' 'unsafe-inline' localhost:* https://bnc.lt https://api.branch.io amazonaws.com amazonaws.com.cn checkout.stripe.com 'unsafe-eval';">
 --> </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <ul class="cart__item-list">
                <% products.forEach(p => { %>
                    <li class="cart__item">
                        <h1><%= p.productId.title %></h1>
                        <h2>Quantity: <%= p.quantity %></h2>
                    </li>
                <% }) %>
            </ul>
            <div class="centered">
                <h2>Total: <%= totalSum %></h2>
            </div>
            <div class="centered">
                <form action="/create-order" method="POST">
                    <script
                      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                      data-key="pk_test_51HMrBIFPnA51g834MAjWpwPG5xcYqKabYcu6lJwOcjXM7kkSMZ5DUKR3K5TjM2k6aV3d9E34jgmkICXz2OqWu3LM00kswezHFX"
                      data-amount="<%= totalSum * 100 %>"
                      data-name="Your Order"
                      data-description="All the items you ordewred"
                      data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                      data-locale="auto"
                      data-currency="usd">
                    </script>
                  </form>
            </div>
        </main>
        <%- include('../includes/end.ejs') %>